#home {
  width: 90%;
  margin: auto;
  /* height: 500px; */
  /* border: 1px solid red; */
  /* background-color: rgb(188, 86, 86); */
}
.commentInput {
  padding: 10px;
  font-size: 18px;
  height: 18px;
  width: 100%;
  border: 1px solid rgb(153, 153, 153);
  background-color: rgb(255, 255, 255);
}
